/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/framework/.license
/storage/app/*
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
*.log
/- private/
/docs/
/nisr-customer-app-main/
AGENTS.md
*.zip
*.md
generate_license.php
generate_keys.php
