/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/framework/.license
/storage/app/*
/vendor
.vscode
.claude
\.claude\
.kilocode
.specify
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
*.log
/- private/
/docs/
/nisr-customer-app-main/
AGENTS.md
*.zip
*.md
generate_license.php
generate_keys.php
.specify/scripts/powershell/check-prerequisites.ps1
.specify/scripts/powershell/check-prerequisites.ps1
.specify/scripts/powershell/common.ps1
.specify/scripts/powershell/create-new-feature.ps1
.specify/scripts/powershell/setup-plan.ps1
.specify/scripts/powershell/update-agent-context.ps1
tmp/agency-agents/
tmp/roo-docs/
!.claude/
.claude/*
!.claude/agents/
!.claude/agents/*.md
!.kilocode/
.kilocode/*
!.kilocodemodes
!.roomodes
!.roo/
!.roo/rules/
!.roo/rules/*.md
!/docs/
/docs/*
!/docs/agency-agents.md
.claude/agents/engineering-mobile-app-builder.md
.claude/agents/senior-developer.md
.kilocodemodes
.roomodes
.claude/agents/ai-engineer.md
.claude/agents/backend-architect.md
.claude/agents/code-reviewer.md
.claude/agents/engineering-backend-architect.md
.claude/agents/engineering-code-reviewer.md
.claude/agents/engineering-database-optimizer.md
.claude/agents/engineering-devops-automator.md
.claude/agents/engineering-embedded-firmware-engineer.md
.claude/agents/engineering-frontend-developer.md
.claude/agents/engineering-git-workflow-master.md
.claude/agents/engineering-senior-developer.md
.claude/agents/engineering-software-architect.md
.claude/agents/reality-checker.md
.claude/agents/security-engineer.md
.claude/agents/technical-writer.md
.roo/rules/10-project.md
docs/agency-agents.md
.gitignore
